.Button {
  cursor: pointer;
  user-select: none;
  background-color: var(--yellow);
  border-radius: 79px;
  align-items: center;
  border: none;
}
.big {
  padding: 21px 54px;
  display: flex;
  justify-content: center;
  gap: 12px;
  p {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }
}
.small {
  padding: 14px 28px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  p {
    margin: 0;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    color: #ffffff;
  }
  img {
    object-fit: none;
  }
}
.input {
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  img {
    object-fit: none;
  }
}
.round {
  padding: 20px;
  display: inline-block;
}
.white {
  background: #ffffff;
  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
  padding: 28px;
  max-width: 316px;
  box-sizing: border-box;
  display: flex;
  gap: 13px;
  p {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--grey);
    text-align: center;
  }
}
.counter {
  width: 34px;
  height: 23px;
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
  p {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: var(--grey);
    margin: 0;
  }
}
