.title {
  padding-top: 45px;
  @media (max-width: 930px) {
    padding: 20px 0;
  }
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: end;
  h1 {
    margin: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    color: #111111;
  }
  .sort {
    @media (max-width: 930px) {
      display: none;
    }
  }
}
.sort {
  display: flex;
  p {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #111111;
  }
  select {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #3f4e65;
    border: none;
    &:focus-visible {
      outline: none;
    }
  }
}
.category {
  display: flex;
  justify-content: space-between;
  @media (max-width: 930px) {
    display: none;
  }
  &_item {
    cursor: pointer;
    background-color: white;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 0;
    margin: 25px 0;
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
    border-radius: 10px;
    p {
      margin: 0;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      color: #3f4e65;
      text-align: center;
    }
    &_active {
      background-color: var(--yellow);
    }
  }
}
.main {
  display: flex;
  justify-content: space-between;
  @media (max-width: 930px) {
    flex-direction: column;
  }
  .sidebar {
    h1 {
      margin: 25px 0 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #111111;
      text-transform: uppercase;
      @media (max-width: 930px) {
        margin: 10px 0 10px;
      }
    }
    .price {
      p {
        margin: 0;
        margin-bottom: 16px;
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
        color: #3f4e65;
      }
      .select {
        display: flex;
        input {
          width: 100px;
          border: none;
          outline: none;
          padding: 4px 14px;
          text-align: center;
          background: linear-gradient(
            90deg,
            rgba(255, 198, 80, 0.3) 0%,
            rgba(254, 202, 110, 0.3) 97.25%
          );
          border-radius: 1000px;
          &::-webkit-inner-spin-button {
            position: absolute;
            width: 12.5%;
            height: 100%;
            top: 0;
            right: 0;
          }
        }
        span {
          margin: 0 10px;
          font-weight: 500;
          font-size: 14px;
          line-height: 130%;
          color: #3f4e65;
        }
      }
    }
    .brand {
      button {
        background-color: white;
        border: none;
        cursor: pointer;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        color: #3f4e65;
        margin-top: 10px;
      }
      h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #111111;
      }
      &_checkbox {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        label {
          display: flex;
          align-items: center;
          margin-bottom: 5px;
          input {
            margin-right: 10px;
          }
          span {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #3f4e65;
          }
        }
      }
    }
    .type {
      h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #111111;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #3f4e65;
        margin: 0;
        margin-bottom: 10px;
        cursor: pointer;
      }
      .active {
        text-decoration: underline;
      }
    }
  }
  .content {
    max-width: 1020px;
    width: 100%;
  }
}
.param {
  display: flex;
  gap: 43px;
  align-items: center;
  .arrow {
    user-select: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffe5b2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      object-fit: none;
    }
    @media (min-width: 930px) {
      display: none;
    }
    input {
      position: absolute;
      width: 32px;
      height: 32px;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: 10;
      cursor: pointer;
      &:checked ~ img {
        transform: rotate(180deg);
      }
    }
  }
}
.display_none {
  display: none;
  @media (min-width: 930px) {
    display: block;
  }
}
