.title {
  padding-top: 45px;
  @media (max-width: 930px) {
    padding: 20px 0;
  }
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: end;
  h1 {
    margin: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    color: var(--black);
  }
}
.main {
  display: flex;
  justify-content: space-between;
  @media (max-width: 930px) {
    flex-direction: column;
  }
  .content {
    max-width: 1020px;
    width: 100%;
  }
}
