.Navigation {
  display: flex;
  gap: 60px;
  @media (max-width: 930px) {
    flex-direction: column;
    gap: 20px;
  }
  li {
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
}
ul {
  margin: 0;
  padding: 0;
}
